extends cscpe01-layout

block content
 p Note: Some labs may not be visible or may not work as intended.
 p Should this be the case, try reloading the page.
 p If that does not work, please create an issue on our Issue Tracker Page. Thanks! 
 a(href="https://github.com/onekiguwolf/vlabpupous/issues") Link to Issue Tracker
  
 br
 h1 ARTIFICIAL NEURAL NETWORKS
 h2 Introduction
 p.
  The objective of this lab is to provide hands-on experience in understanding
  | the basics of ANN models, and the pattern recognition tasks they perform. 
  | Some applications of ANN for problems in optimization and image processing 
  | will also be explored through these lab experiments.
 h2 Objective: 
 p.
  To introduce the students with the basics of ANN which will empower them for 
  | developing advanced ANN tools and solving practical problems in the field.
 br
 h3 Lab Selection: 
 ul 
  li 
   a Parallel and distributed processing - I: Interactive activation and competition models
  li
   a Parallel and distributed processing - II: Constraint satisfaction neural network models
  li 
   a Perceptron learning
  li 
   a Multi layer feed forward neural networks
  li
   a Hopfield model for pattern storage task
  li 
   a Hopfield model with stochastic update
  li 
   a Competitive learning neural networks for pattern clustering
  li
   a Solution to travelling salesman problem using self organizing maps
  li 
   a Solution to optimization problems using Hopfield models
  li 
   a Weighted matching problem: Deterministic, stochastic and mean-field annealing of an Hopfield model
