extends lab-layout

block content 
    h2 Lab 02:
    h1 Parallel and distributed processing - II: Constraint satisfaction neural network models
    h2 Assignment:
    form(action='/cscpe/01/lab03/observations')
        button(type='submit') Previous Article: Observations
    br
    ol 
        li
            p.
                Observe the behaviour of perceptron learning algorithm, for two classes which are (a) linearly separable and (b) linearly inseparable. 
                What is the number of iterations required in each case?
        li 
            p.
                How does the perceptron behave if the two classes are not linearly separable. Assuming that the two classes are overlapping, do the weights 
                converge, or do they oscillate around an optimum value ? In either case, what is the nature of the separating line/hyperplane.
    form(action='/cscpe/01/lab03/references')
        button(type='submit') Next Article: References