extends lab-layout 

block content 
    h2 Lab 02:
    h1 Parallel and distributed processing - II: Constraint satisfaction neural network models
    h2 References:
    form(action='/cscpe/01/lab02/assignment')
        button(type='submit') Previous Article: Assignment
    br
    p B. Yegnanarayana, Artificial Neural Networks, New Delhi, India : Prentice-Hall of India, pg. 299, 1999.
