extends layout

block content
  h1 About the Developer
  p.
    Name: Lorenzo Pinon
  p.
    Hi! I am a 3rd Year Computer Engineering Student from the PUP College of Engineering.
    This is my Final Project for the First Semester, AY 24-25 for Logic Circuits and Design.
    I hope this helps other students pursuing the same course as I did!
  br
  p This Website is made using Javascript, CSS, and pugjs which I use to render the website you are seeing now!
  br
  p.
    DISCLAIMER: This website is created for Educational use ONLY.
    This website is not to be used for Businesses, as stated in the GitHub Pages TOU.
  br

