extends layout

block content
  h1= "(-w-)'"
  h2 Something went wrong
  p The site may have encountered an error, or the page is missing. 
  p Please copy the error stack below, and send it to our Issue Tracker at Github so we can act on it.
  p every issue made helps me improve the site as a whole. Thank you so much!! 
  br
  p Kigu, I think we have a problem. How many wolf Librarians does it take to organize a bookshelf...
  br
  h3 Error Stack:
  pre #{error.stack}
  br
