extends layout

block content
  h1 Welcome to PUP OUS VLab!
  p.
    This Website offers Virtual Laboratories (aka VLabs) to students of the 
    Polytechnic University of the Philippines -- Open University System.
  p.
    It is recommended for users to use a desktop or laptop device for the best experience.
    For mobile users, you may enable Desktop Mode from your app browser settings.
  br
  .iconic
    img(href='/public/images/icon.jpg')
  p The content of this Website is from the Virtual Lab, provided by the Indian Government's Ministry of Education.
   form(action='https://vlab.co.in/')
        button(type='submit') Visit VLabs by MoE India!
  br
