extends layout

block content
  h1 Welcome to PUP OUS VLab!
  p Please make a selection from the categories below.
  br
  h2 Categories
  ul
    li
      a(href= "disciplines/elec-comm") Electronics and Communications
    li
      a(href="disciplines/cs-cpe") Computer Science and Engineering
    li
      a(href="disciplines/eengg") Electrical Engineering

