extends layout

block content
  h1 Welcome to PUP OUS VLab!
  p This Website offers Virtual Laboratories defined as "VLab" to students of the
   | Polytechnic University of the Philippines -- Open University System.
  br
  a(href="https://www.vlab.co.in/") The content of this Website is from the Virtual Lab, provided by the Indian Government's Ministry of Education.
  br
  h2 Categories
  ul
    li
      a(href= "disciplines/elec-comm") Electronics and Communications
    li
      a(href="disciplines/cs-cpe") Computer Science and Engineering
    li
      a(href="disciplines/eengg") Electrical Engineering
  br