extends layout

block content
  h1 Lab Selection
  p Please make a selection from the categories below.
  br
  ul
    li
      a(href= "disciplines/elec-comm") Electronics and Communications
    li
      a(href="disciplines/cs-cpe") Computer Science and Engineering
    li
      a(href="disciplines/eengg") Electrical Engineering
  br