doctype html
html
  nav
    navbar-default PUP OUS Virtual Lab
    ul 
      li 
        a Home 
      li 
        a About
      li 
        a Categories
      li
       a Contact Us
  head
    title PUP OUS VLab
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
