doctype html
html
  nav 
    .container
      .navbar-brand PUP VLab OUS
      ul 
        li
          a(href="/") Home
        li
          a Topics 
        li
          a(href="about") About
  head
    title PUP OUS VLab
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
