doctype html
html
  nav 
    .container
      .navbar-brand
        p Polytechnic University of the Philippines 
        p Open University System 
        p Virtual Laboratory "VLab"
      ul 
        li
          a(href="/") Home
        li
          a Topics 
        li
          a(href="about") About
  head
    title PUP OUS VLab
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer 
    p.
      Copyright © 2023 PUP OUS VLab.
      This website is licensed with APGL 3.0 and its contents are under CC-BY-NC 4.0.
