extends layout

block content
  h1 404
  h2 Page not Found. That's an error.
  p The page that you are looking for is either missing, or does not exist.
  p If the prof insists otherwise, do open a request at our  
    a(href="https://github.com/onekiguwolf/vlabpupous/issues") Issue Tracker at Github 
    | so we can act on it.
  p every issue made helps me improve the site as a whole. Thank you so much!! 
  br
  p Kigu, I think we have a problem. How many wolf Librarians does it take to organize a bookshelf...
  br
