extends layout

block content
  h1 Construction Time! 🚧🚧
  h2 Page is currently being developed.
  p The page that you are looking for is under construction. It won't be available, yet. 
  p If there should've been one, do open a request at our  
    a(href="https://github.com/onekiguwolf/vlabpupous/issues") Issue Tracker at Github
    |  so we can act on it.
  p every issue made helps me improve the site as a whole. Thank you so much!! 
  br
  p plz be patient, the wolf is hard at work coding this website. :3
  br
  button(onClick="javascript:window.history.back()") Take me back!!
