extends elecomm-01-layout

block content
 p Note: Some labs may not be visible or may not work as intended.
 p Should this be the case, try reloading the page.
 p If that does not work, please create an issue on our Issue Tracker Page. Thanks!
    a(href="https://github.com/onekiguwolf/vlabpupous/issues") Link to Issue Tracker
  
 br
 h1 ANALOG AND DIGITAL ELECTRONICS I
 h2 Introduction
 p.
    The Analog and Digital Electronics Lab is a fundamental component of the electronics 
    curriculum, designed to provide students with practical, hands-on experience in both 
    analog and digital circuitry. This lab introduces students to essential tools and components, 
    including breadboards and integrated circuits (ICs), and allows them to explore the fundamental 
    principles of electronics through a series of carefully designed experiments. In this lab, 
    students will learn to design, construct, and test various circuits, gaining an understanding 
    of both analog and digital systems. They will verify theoretical concepts such as De-Morgan's 
    theorems and will apply their knowledge to real-world applications, such as creating decoders 
    and parity generators. The lab emphasizes the importance of logic gates and their applications 
    in everyday electronic devices, including simple fire and burglar alarms. By working with components 
    like multiplexers, decoders, and various types of logic gates, students will develop a strong foundation 
    in electronics. The lab also covers the generation of clock signals, crucial for the timing and 
    synchronization of digital systems. This hands-on approach ensures that students not only understand the 
    theoretical aspects of electronics but also gain the practical skills necessary to design and troubleshoot 
    electronic circuits effectively.
 h2 Objective: 
 p.
    The objective of this laboratory course enables students to get practical experience in the design, assembly 
    and evaluation/testing of Analog components and circuits including Operational Amplifier, Timer, Logic gates etc.
 br
 h3 Lab Selection: 
 ul 
  li 
   a(href="lab-01/aim") Parallel and distributed processing - I: Interactive activation and competition models
  li
   a(href="lab-02/aim") Parallel and distributed processing - II: Constraint satisfaction neural network models
  li 
   a(href='lab-03/aim') Perceptron learning
  li 
   a Multi layer feed forward neural networks
  li
   a Hopfield model for pattern storage task
  li 
   a Hopfield model with stochastic update
  li 
   a Competitive learning neural networks for pattern clustering
  li
   a Solution to travelling salesman problem using self organizing maps
  li 
   a Solution to optimization problems using Hopfield models
  li 
   a Weighted matching problem: Deterministic, stochastic and mean-field annealing of an Hopfield model
   br
