extends cscpe01-layout

block content 
 h1 ARTIFICIAL NEURAL NETWORKS
 h2 Introduction
 p.
  The objective of this lab is to provide hands-on experience in understanding
  | the basics of ANN models, and the pattern recognition tasks they perform. 
  | Some applications of ANN for problems in optimization and image processing 
  | will also be explored through these lab experiments.
 br
 p Note: Some labs may not be visible or may not work as intended.
 p Should this be the case, try reloading the page.
 p If that does not seem to work, please write an issue on our
 a(href="https://github.com/onekiguwolf/vlabpupous/issues") page. Thanks!
