extends lab-layout 

block content 
    h2 Lab 02:
    h1 Familiarization of Logic Circuit ICs
    br
    h2 Aim: 
    p.
        To study basic logic ICs and verify their truth tables.
    br
    form(action='theory')
        button(type='submit') Next Article: Theory
