extends lab-layout 

block content 
    h2 Lab 02:
    h1 Familiarization of Logic Circuit ICs
    h2 Contributors:
    form(action='refeerences')
        button(type='submit') Previous Article: References
    h3 Lab Proposer/Subject Matter Experts 
    include table01.pug
    h3 Persons Associated in the Lab Development 
    include table02.pug
    br