extends lab-layout 

block content 
    h2 Lab 02:
    h1 Familiarization of Logic Circuit ICs
    h2 References:
    form(action='procedure')
        button(type='submit') Previous Article: Procedure
    ol 
        li 
            p Anil K. Malini, "Digital Electronics Principle, Devices And Application", John Wiley & Sons, Ltd
        li 
            p Donald P Leach, Albert Paul Malvina and Gautam Saha, "Digital Principle And Applications", Tata McGraw Hill Education Private Limited
        li 
            p R.P.Jain, "Modern Digital Electronics", 4th edition, McGraw Hill Education ( India ) Private Limited
        li 
            p M.morris Mano and Michael D. Ciletti, "Digital design with an introduction to the Verilog HDL", 7th edition, Tata McGraw Hill Education Private Limited
        li 
            p William Gothmann H, "Digital Electronics: An Introduction To Theory And Practice", 2nd edition, Prentice Hall, 1982

    form(action='contributors')
        button(type='submit') Next Article: Attribution/Contributors
    br