//- Had to do this the long way, hopefully I find a faster way to write a table down :skull:
block table01
    head 
        style.
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
                padding: 10px;
            }
            th, td {
                padding: 4px;
                text-align: left;
            }
    table(width:100)
        tr 
            td SNo. 
            td Name
            td Email
            td Institute 
            td Position
        tr 
            td 1
            td Prof. Archana Gupta
            td drarchana.physics@gmail.com
            td M.J.P. Rohilkhand University Bareilly
            td Professor
        tr 
            td 2
            td Rajeev Kumar 
            td rajeevkumar.rke@gmail.com
            td IIT Roorkee 
            td Senior Research Fellow 
        tr 
            td 3
            td Nipun Jain
            td nipunjain1305@gmail.com
            td IIT Roorkee 
            td Project Associate 
        tr 
            td 4
            td Pragya Daksh 
            td prgdaksh@gmail.com
            td IIT Roorkee 
            td Project Associate