extends lab-layout

block content 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML") 
    h2 Lab 02:
    h1 Familiarization with the ICs
    h2 Theory:
    form(action='aim')
        button(type='submit') Previous Article: Aim
    h3 List of Logic Gate ICs to be used in the Simulation: 
    ul 
        li 
            p IC-7404 (NOT Gate)
        li 
            p IC-7432 (2-input OR Gate)
        li 
            p IC-7408 (2-input AND Gate)
        li 
            p IC-7400 (2-input NAND Gate)
        li 
            p IC-7402 (2-Input NOR Gate)
        li 
            p IC-7486 (2-Input EX-OR Gate)
        li 
            p IC-74266 (2-Input EX-NOR Gate)
        li 
            p IC-7411 (3-Input AND Gate)
        li 
            p IC-744075 (3-Input OR Gate)
        li 
            p IC-7410 (3-Input NAND Gate)
        li 
            p IC-7427 (3-Input NOR Gate)
        br
    h3 What is a Gate?
    p.
        A gate may be regarded as a barrier which when closed prevents the passage of information but if opened 
        allows the signals to pass through freely.
    h3 What is a LOGIC Gate?
    p.
        Logic gates are the building blocks of digital electronics. They are used in digital electronics to 
        change one voltage level (input voltage) into another (output voltage) according to some logical statement 
        relating them.
    br
    p.
        <b>‘Thus, a logic gate is a digital circuit which works according to some logical relationship between 
        input and output voltages.’</b>
    br
    p.
        A logic gate may have one or more inputs, but it has only one output.
    h3 Truth Tables 
    p.
        The relationship between the possible values of input and output voltages are expressed in the form of a 
        table called <strong>truth table</strong> or <strong>table of combinations</strong>.
    p Truth table of a logic gate is a table that shows all input and output possibilities for the logic gate.
    p The basic logic gates are: 
    ul 
        li 
            p OR Gate 
        li 
            p AND Gate 
        li 
            p NOT Gate 
        li 
            p Ex-OR Gate (or XOR)
        li
            p Ex-NOR Gate (or XNOR)
    p The logical statements that logic gates follow are called <strong>Boolean expressions</strong>.
    p eg: Y = A + B, Y = A.B, Y = A’ are Boolean expressions for the OR, AND and NOT gates respectively.
    p.
        Logic functions can be implemented in several ways. In the past, vacuum tube and relay circuits performed 
        logic functions. Now a days digital logic gates can be made by connecting discrete components such as 
        diodes, transistors and resistors together but these are less common. Presently logic functions are 
        performed by tiny integrated circuits (ICs). These ICs are small silicon semiconductors sheets called chips, 
        containing the electronic components for the logic gates. The chip is mounted in a plastic container, and 
        connections are welded to external pins which may range from 14 in a small IC package to 64 or more in a 
        large one.
    h3 Integrated Circuit 
    p.
        An integrated circuit (Fig-1), abbreviated as IC, is a semiconductor wafer on which thousands or millions of 
        both the active and passive components as resistors, capacitors and transistors are fabricated. The typical size 
        of an IC is 0.2 mm x 0.2 mm x 0.001 mm. The individual circuit components of an IC cannot be removed or replaced 
        because they are automatically part of a single chip. The different components are isolated from each other by 
        isolation diffusion within the crystal chip and are interconnected by an aluminium layer which serves as wires.
    img.small(src='/public/images/elec-comm/01/lab02/integrated-circuit-dip.png')
    p.center Fig.-1: An integrated circuit
    p.
        A particular IC is categorized linear (analog) or digital depending on its intended application.Linear ICs have 
        continuously variable output (theoretically capable of attaining an infinite number of states) that depends on 
        the input signal level.Linear ICs are used as audio frequency (AF) and radio frequency (RF) amplifiers. Digital 
        ICs operate at only a few defined levels or states rather than over a continuous range of signal amplitudes. 
        These devices are used in computers, computer networks, modems and frequency counters. The fundamental building 
        blocks of digital ICs are logic gates which work with binary data, i.e., signals that have only two different 
        states called low (logic 0) and high (logic 1).
    p.
        Basically, there are two types of semiconductor devices: bipolar and unipolar. Based on these devices, digital 
        integrated circuits have been made which are commercially available. Various digital functions are being 
        fabricated in a variety of forms using bipolar and unipolar technologies. A group of compatible IC’s with the 
        same logic levels and supply voltages for performing various logic functions have been fabricated using a 
        specific circuit configuration which is referred to as a logic family.
    p.
        In1964, Texas instruments introduced transistor-transistor logic, a widely used family of digital devices. 
        TTL is fast, inexpensive, and easy to use. Since TTL uses active low as well as active high signals, negative 
        logic may be used as well as positive logic. Another logic family MOS employs unipolar devices MOSFETs. In PMOS, 
        only p-channel MOSFETs are used and in NMOS, only n-channel MOSFETs are used while in complementary MOS (CMOS), 
        both p- and n-channel MOSFETs are employed in a push-pull arrangement and are fabricated on the same silicon 
        chip. Because the input current of a MOSFET is much smaller than that of a bipolar transistor, cascaded CMOS 
        devices have very low power dissipation compared with TTL devices. This low dissipation explains why CMOS 
        circuits are used in battery powered equipment such as pocket calculators, digital wrist watches, and portable 
        computers.
    p.
        The most popular transistor-transistor logic (TTL) in use includes the 7400 and the 74LS00 families: resistors, 
        diodes and BJT’s are the elements used to construct these circuits. The 74C00 and the 74HC00 are the most widely 
        used CMOS families. They use two different types of MOSFETs.
    p.
        7400 TTL series devices are guaranteed to work reliably over a temperature range of 0 to 70°C and over a supply 
        range of 4.75 to 5.25 volts. The NAND gate is the backbone of the 7400 TTL series because most devices in this 
        family are derived from it. Because of its central role in TTL technology, the NAND gate has become the least 
        expensive and most widely used TTL gate. Furthermore, the NAND gate is available in more configurations than 
        other gates, as shown in table below. The NAND gate is available as a 2-, 3-, 4-, or 8-input gate. The other 
        gates have fewer configurations.
    include gatetables/ttl-gates.pug 
    br
    p.center Table 1: Standard TTL Gates
    br
    h2 Basic Logic Gates 
    h3 1.) The NOT Gate 
    p A NOT gate is also known as an inverter. It has one input A and one output Y. The output Y of NOT gate is always complement of input A.
    p In equation form,
    p $$ \text{Y = NOT A = } \neg{A} \hspace{0.1cm} \text{i.e. Y = A'}$$
    p so that, if A = 0, Y = 0’ = 1
    p and if A = 1, Y = 1’= 0.
    p Fig-2 shows the symbol of NOT gate.
    img(src='/public/images/elec-comm/01/lab02/not-gate-schema.png')
    p.center Schematic Symbol of a NOT Gate
    br
    include gatetables/notgate.pug 
    br
    p.center Table 2:Truth table for NOT gate
    p The presence of a small circle, known as the bubble, always denotes inversion in digital circuits.
    p IC- 7404 is standard TTL IC of NOT gate.
    h3 NOT GATE IC-7404 (aka Hex Inverter)
    p.
        IC-7404 (Fig-3) contains six independent gates each of which performs the logic INVERT function. 
        The operating voltage is 5 V, high level input voltage is 2 V, and low level input is 0.8 V
    img(src='/public/images/elec-comm/01/lab02/7404-datasheet.png')
    p.center Fig.-3: Pin diagram of NOT gate IC 7404
    br
    h3 2.) The AND Gate
    p.
        The AND gate has two or more input signals but only one output signal. The AND gate has a high output 
        when all inputs are high. In other words, the AND gate is an <strong>‘all or nothing gate’</strong>; a 
        high output occurs only when all inputs are high.
    p In Boolean equation form -
    p $$ \text{Y = A AND B = A•B =} \hspace{0.1cm} A \land B$$
    p.
        The symbol ‘.’ in the above expression is known as the ‘AND operator’. The 2-input AND gate symbol is 
        shown in Fig-4.
    img(src='/public/images/elec-comm/01/lab02/and-gate-schema.png')
    p.center Fig.-4: Symbol of 2-input AND gate
    br
    include gatetables/andgate-quad.pug 
    br
    p.center Table 3:Truth table for 2-input AND gate
    p <strong> The AND gate has a high output only when A and B are high. </strong>
    p An AND gate can have as many inputs as desired.
    p.
        Fig-5 shows the symbol of a 3-input AND gate. The inputs are A, B and C. When all inputs are low, 
        Y is low. Even if one input is low, Y is in the low state. The only way to get a high output is to 
        raise all inputs to high state (+5 V). In equation form, the 3-input AND gate is represented as:
    p $$ \text{Y = A•B•C or} \hspace{0.1cm} A \land B \land C$$
    img(src='/public/images/elec-comm/01/lab02/andgate-3in-schema.png')
    p.center Fig.-5: Symbol of 3-input AND gate
    br
    include gatetables/andgate-triple.pug 
    br 
    p.center Table 4:Truth table for 3-input AND gate
    p IC 7408 and IC 7411 are standard TTL ICs of 2 input and 3input AND gate respectively
    h3 2-INPUT AND GATE IC-7408
    p IC-7408 (Fig-6) is a Quad 2-input AND gates and contains four independent gates each of which performs the logic AND function.
    h3 3-INPUT AND GATE IC-7411
    p IC-7411 (Fig-7) is a Triple 3-input AND gate and contains three independent gates each of which perform logic AND operation.
    .row 
        .column
            img(src='/public/images/elec-comm/01/lab02/quadand-schema.png')
            p <strong>Pin diagram of 2-input AND gate IC 7408</strong>
        .column
            img(src='/public/images/elec-comm/01/lab02/tripleand-schema.png')
            p <strong>Pin diagram of 3-input AND gate IC 7411</strong>
    br
    h3 3.) OR Gate 
    p.
        The OR gate has two or more input signals but only one output signal. It is called an OR gate because the output 
        voltage is high if any or all of the input voltages are high. For instance, the output of a 2-input OR gate is 
        high if either or both inputs are high. Thus, OR gate is also called <strong>‘any or all gate’</strong>.
    p In Boolean equation form -
    p $$ \text{Y = A OR B =} \hspace{0.1cm} A + B $$
    p The symbol ‘+’ in the above expression is known as the ‘OR operator’. The 2-input OR gate symbol is shown in Fig-8.
    img(src='/public/images/elec-comm/01/lab02/or-gate-schema.png')
    p.center Fig.-8: Symbol of 2-input OR gate
    br
    include gatetables/orgate-quad.pug 
    br
    p.center Table 5:Truth table for 2-input OR gate
    p An OR gate can have as many inputs as desired. No matter how many inputs, the action of any OR gate is summarized like this:
    p <strong> One or more high inputs produce a high output. </strong>
    p The logic symbol of a three input OR gate is shown in Fig-9.
    img(src='/public/images/elec-comm/01/lab02/orgate-3in-schema.png')
    p.center Fig.-9: Symbol of 3-input OR gate
    br
    include gatetables/orgate-triple.pug 
    br
    p.center Table 6:Truth table for 3-input OR gate
    p IC 7432 and IC 744075 are standard TTL IC of 2 input and 3input OR gate respectively
    h3 2-INPUT OR GATE IC-7432
    p IC-7432 (Fig-10) is a device that contains four independent 2-input OR gates. Each of these gates perform the logic OR operation.
    h3 3-INPUT OR GATE IC-74HC/HCT4075
    p IC-74HC/HCT4075(Fig-11) is a Triple 3-inputOR gate and contains three independent gates each of which perform logic OR operation
    .row 
        .column 
            img(src='/public/images/elec-comm/01/lab02/quador-schema.png')
            p <strong> Pin diagram of 2-input OR gate IC7432 </strong>
        .column 
            img(src='/public/images/elec-comm/01/lab02/tripleor-schema.png')
            p <strong> Pin diagram of 3-input OR gate IC 74HC/HCT4075 </strong>
    br
    h2 Universal Logic Gates
    p.
        AND, OR and NOT gates can be connected together to realize any logic function. It is possible to use only one 
        type of gate for this purpose so that one needs to procure only one type of gate for this design. And more 
        importantly, fabrication of Integrated Circuit that performs a logic operation becomes easier when gate of 
        only one kind is used. Gates, which can perform this task, are called Universal logic gates. Clearly, basic 
        gates like AND, OR and NOT don’t fit into this category for the simple reason that conversion among themselves 
        itself are not possible. As for example, one cannot get OR operation by using any number or combination of AND 
        gates.
    h3 1.) The NAND Gate (NOT AND)
    p.
        It is a logic circuit in which AND gate is followed by a NOT gate. The output of NAND gate is high if any of 
        the inputs are low. Its symbol is an AND gate with a small circle on the output. Fig-12 shows the symbol of 
        2-input NAND gate. The small circle represents inversion. Boolean expression for NAND gate is as follows:
    p $$ Y = \neg{(AB)}$$
    img(src='/public/images/elec-comm/01/lab02/nand-gate-schema.png')
    p.center Fig.-12: Symbol of 2-input NAND gate
    br
    include gatetables/nandgate-quad.pug 
    br
    p.center Table 7:Truth table for 2-input NAND gate
    p An NAND gate can have as many inputs as desired. No matter how many inputs, the action of any NAND gate is summarized like this:
    p <strong> All high inputs produce a low output. </strong>
    p The logic symbol of a three input NAND gate is shown in Fig-13.
    img(src='/public/images/elec-comm/01/lab02/nandgate-3in-schema.png')
    p.center Fig.-13: Symbol of 3-input NAND gate
    br
    include gatetables/nandgate-triple.pug 
    br
    p.center Table 8: Truth table for 3-input NAND gate
    p IC 7400 and IC 7410 are standard TTL ICs of 2 input and 3input NAND gate respectively.
    h3 2-INPUT NAND GATE IC-7400
    p IC-7400(Fig-14) designates a device containing four input NAND gates. Each gate uses two pins for input and one pin for its output, and the remaining two contacts are connected to supply power (+5 V) and the ground.
    h3 3-INPUT NAND GATE IC-7410
    p IC-7410 (Fig-15) is a Triple 3-input NAND gate and contains three independent gates each of which performs logic NAND operation
    .row 
        .column 
            img(src='/public/images/elec-comm/01/lab02/quadnand-schema.png')
            p <strong> Pin diagram of 2-input NAND gate IC 7400 </strong>
        .column 
            img(src='/public/images/elec-comm/01/lab02/triplenand-schema.png')
            p <strong> Pin diagram of 3-input NAND gate IC 7410 </strong>
    h3 UNIVERSALITY OF NAND GATE
    p All basic logic gates can be obtained from NAND gates and that is why it is called a universal logic gate.
    p.
        Fig-16(a) shows how we tie inputs of NAND gate together to get a NOT gate that has only One input. If input 
        is 0, then both the inputs to NAND gate are 0. Following NAND gate truth table, we see output now is 1. 
        Similarly, if input is 1, both the inputs to NAND gate are 1 that gives output 0. Therefore, output of circuit 
        is complement of its input and thus gives NOT operation.
    p.
        Fig-16(b) shows how we get AND circuit using only NAND gates. The second NAND gate performs as a NOT gate and 
        inverts the NAND logic of first NAND gate to AND logic.
    p.
        To obtain OR logic using NAND gate, we draw circuit diagram as shown in Fig-16(c). This circuit has NAND gate 
        at output and thus, inverts the output of previous circuit, from NOR to OR.
    img(src='/public/images/elec-comm/01/lab02/16a.png')
    p.center Fig.-16(a): NOT gate using NAND gate
    img(src='/public/images/elec-comm/01/lab02/16b.png')
    p.center Fig.-16(b): AND gate using NAND gate
    img(src='/public/images/elec-comm/01/lab02/16c.png')
    p.center Fig.-16(c): OR gate using NAND gate
    br
    h3 2.) The NOR Gate 
    p.
        It is a logic circuit in which OR gate is followed by a NOT gate. The output of NOR gate is LOW if any of the 
        inputs are HIGH. Its symbol is an OR gate with a small circle on the output (Fig-17). The small circle 
        represents inversion. Boolean expression for NOR gate is as follows:
    p $$ Y = \neg{(A+B)}$$
    img(src='/public/images/elec-comm/01/lab02/nor-gate-schema.png')
    p.center Fig.-17: Symbol of 2-input NOR gate
    br
    include gatetables/norgate-quad.pug 
    br
    p.center Table 9: Truth table for 2-input NOR gate
    p An NOR gate can have as many inputs as desired. No matter how many inputs, the action of any NOR gate is summarized like this:
    p <strong> All low inputs produce a high output. </strong>
    p The logic symbol of a three inputs NOR gate is shown in Fig-18.
    img(src='/public/images/elec-comm/01/lab02/norgate-3in-schema.png')
    p.center Fig.-18: Symbol of 3-input NOR gate
    br
    include gatetables/norgate-triple.pug 
    br
    p.center Table 8: Truth table for 3-input NOR gate
    p IC 7402 and IC 7427 are standard TTL ICs of 2 input and 3input NOR gate respectively
    h3 2-INPUT NOR GATE IC-7402
    p IC-7402 (Fig-19) is a device containing four independent gates each of which performs the logic NOR function. Pins 14 and 7 provide power for all four logic gates.
    h3 3-INPUT NOR GATE IC-7427
    p IC-7427 (Fig-20) is a Triple 3-input NOR gate and contains three independent gates each of which performs logic NOR operation
    .row 
        .column 
            img(src='/public/images/elec-comm/01/lab02/quadnor-schema.png')
            p <strong> Pin diagram of 2-input NOR gate IC 7402 </strong>
        .column 
            img(src='/public/images/elec-comm/01/lab02/triplenor-schema.png')
            p <strong> Pin diagram of 3-input NOR gate IC 7427 </strong>
    h3 UNIVERSALITY OF NAND GATE
    p.
        Figs-21(a), (b) and (c) show how basic logic gates can be obtained from NOR gate. Since, we can perform all 
        the Boolean operations using only NOR gates it is termed as universal logic gate.
    p.
        To get a NOT gate we tie inputs of NOR gate together Fig-21(a) show that there is only one input to the circuit. 
        If input is 0, then both the inputs to NOR gate are 0. Following NOR gate truth table, we see output now is 1. 
        Similarly, if input is 1, both the inputs to NOR gate are 1 that gives output 0. Therefore output of circuit is 
        complement of its input and thus gives NOT operation.
    p.
        Fig-21(b) shows how to get OR circuit using only NOR gates. The first NOR gate performs usual NOR operation while 
        second NOR gate performs as NOT gate and inverts the NOR logic to OR.
    p.
        Fig-21(c) shows how we can get AND gate using NOR gates only. The output of this circuit, obtained from NOR gate, 
        is high only when both the inputs are high and it functions like an AND gate.
    img(src='/public/images/elec-comm/01/lab02/21a.png')
    p.center Fig.-16(a): NOT gate using NOR gate
    img(src='/public/images/elec-comm/01/lab02/21b.png')
    p.center Fig.-16(b): AND gate using NOR gate
    img(src='/public/images/elec-comm/01/lab02/21c.png')
    p.center Fig.-16(c): OR gate using NOR gate
    br
    h3 The Ex-OR Gate (XOR)
    br
    form(action='procedure')
        button(type='submit') Next Article: Procedure