.timebar {
  background-color: #641010;
  overflow: hidden;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
}
.timebar p {
  color: white;
  margin: auto;
  padding: 10px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 10%;
  width: 100%
}
.titlebar {
  background-color: #a27070;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 15%
}
.titlebar ul {
  list-style-type: none;
  margin-left:70%;
  margin-top: 4%;
  padding: 0;
  overflow: hidden;
}
.titlebar li {
  float: left;
}
.titlebar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* color of link on Hover */
.titlebar li a:hover {
  background-color: white;
  color:black;
}
.sitename {
  overflow: hidden;
  position: fixed;
  top: 7%;
  left: 6%;
  width: 100%;
  height: 15%;
}
.sitename p {
  color: white;
  margin: 0% !important
}
.sitename h3 {
  color: white;
  margin: 0% !important
}
.sitename img {
  display: block;
}
a {
  color: #00B7FF;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid;
  padding: 10px;
}

.footbar {
  background-color: #641010;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  text-align: center;
  left: 0
}
.footbar p {
  margin: auto;
  color: white;
  padding: 10px;
}
.footbar a {
  color: white;
}