//- Had to do this the long way, hopefully I find a faster way to write a table down :skull:
block table01
    head 
        style.
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
                padding: 10px;
            }
            th, td {
                padding: 4px;
                text-align: left;
            }
    table(width:100)
        tr 
            td A 
            td B
            td C
            td Y = ABC
        tr 
            td 0
            td 0
            td 0
            td 0
        tr 
            td 0
            td 0
            td 1
            td 0
        tr 
            td 0
            td 1
            td 0
            td 0
        tr 
            td 0
            td 1
            td 1
            td 0
        tr 
            td 1
            td 0
            td 0
            td 0
        tr 
            td 1
            td 0
            td 1
            td 0
        tr 
            td 1
            td 1
            td 0
            td 0
        tr 
            td 1
            td 1
            td 1
            td 1
