extends lab-layout 

block content 
    h2 Lab 01:
    h1 Familiarization with the Breadboard
    br
    h2 Aim: 
    p.
        To familiarise with breadboard.
    br
    form(action='theory')
        button(type='submit') Next Article: Theory
