extends lab-layout 

block content 
    h2 Lab 01:
    h1 Familiarization with the Breadboard
    h2 Contributors:
    form(action='refeerences')
        button(type='submit') Previous Article: References
    h3 Lab Proposet/Subject Matter Experts 
    include table01.pug
    h3 Persons AAssociated in the Lab Development 
    include table02.pug 
    br
   