extends lab-layout 

block content 
    h2 Lab 01:
    h1 Familiarization with the Breadboard
    h2 References:
    form(action='procedure')
        button(type='submit') Previous Article: Procedure
    ol 
        li 
            p Keith Breindley “Starting electronics”, Newnes
        li 
            p Owen Bishop “Understand Electronics” , Elsevier Science
        li 
            p David Whale, Martin O'Hanlon “Adventures in Minecraft” , Wiley
        li 
            p Paul Scherz and Simon Monk, “Practical Electronics for Inventors” Fourth Edition, McGraw Hill Education, USA
        li 
            a(href='https://www.sciencebuddies.org/science-fair-projects/references/how-to-use-a-breadboard') https://www.sciencebuddies.org/science-fair-projects/references/how-to-use-a-breadboard
        li 
            a(href='https://electronicsclub.info/breadboard.htm') https://electronicsclub.info/breadboard.htm
        li 
            a(href='https://learn.sparkfun.com/tutorials/how-to-use-a-breadboard/all') https://learn.sparkfun.com/tutorials/how-to-use-a-breadboard/all
        li 
            a(href='https://www.instructables.com/How-to-use-a-breadboard/') https://www.instructables.com/How-to-use-a-breadboard/
    form(action='contributors')
        button(type='submit') Next Article: Attribution/Contributors
    br
   