extends lab-layout 

block content 
    h2 Lab 02:
    h1 Parallel and distributed processing - II: Constraint satisfaction neural network models
    br
    h2 Aim: 
    p.
        The objective of Parallel and Distributed Processing (PDP) Models is to demonstrate some 
        of the features of the biological neural networks. Constraint Satisfaction (CS) Model 
        illustrates how we attempt to build concepts or arrive at conclusions based on some limited, 
        partial, and sometimes partially erroneous knowledge. Following are the goals of the experiment:
    ol 
        li 
            p To illustrate how a large number of weak constraints together will evolve into a definitive conclusion.
        li 
            p.
                To illustrate how our concepts of various types of rooms can be captured by the CS PDP model 
                from samples of description of these rooms.
    br
    form(action='theory')
        button(type='submit') Next Article: Theory

