extends lab-layout

block content 
    h2 Lab 02:
    h1 Parallel and distributed processing - II: Constraint satisfaction neural network models
    h2 Assignment:
    form(action='observations')
        button(type='submit') Previous Article: Observations
    br
    ol 
        li
            p Try to observe how the number of clamped units affect the equilibrium state of the model.
        li 
            p Try to relate the final equilibrium state of the model descriptors with a particular room type using Hinton diagram while clamping different set of descriptors.
        
    form(action='references')
        button(type='submit') Next Article: References