doctype html
html
  nav 
    .titlebar
      ul 
        li
          a(href='/') Home 
        li 
          a(href='about') About the Dev 
        li 
          a(href='https://github.com/onekiguwolf/vlabpupous') Source Code 
        li 
          a(href='https://github.com/onekiguwolf/vlabpupous/issues') Issue Tracker
    .sitename 
      p Polytechnic University of the Philippines 
      p Open University System
      h3 Virtual Laboratory (VLab)
      img(href='../public/images/PUPOUSLogo.png')
  .timebar
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
      $(document).ready(function() {
        function updateTime() {
          var now = new Date();
          var formattedTime = now.toLocaleString();
          $('#datetime').text(formattedTime);
        }
        setInterval(updateTime, 1000);
        updateTime();
      });
    p#datetime
  head
    title PUP OUS VLab
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel="icon", href="/public/images/puplogo.png", type="image/x-icon")
  .sidenav
    h3 Categories
    ul 
      li
        a(href='aim') Aim 
      li 
        a(href='theory') Theory 
      li 
        a(href='procedure') Procedure 
      li
        a(href="https://cse22-iiith.vlabs.ac.in/exp/parallel-distributed-processing-ii/simulation.html") Simulation 
      li
        a(href='observations') Observation 
      li 
        a(href='assignment') Assignment 
      li 
        a(href='references') References
  body
    block content
  footer 
    p Copyright 2025 © PUP Open University System. This website is for Educational Purposes ONLY. Licensed by 
     a(href="https://www.gnu.org/licenses/agpl-3.0.en.html") AGPL 3.0
     |  and 
     a(href="https://creativecommons.org/licenses/by-nc-sa/4.0/") CC-BY-NC-SA 4.0
    p Proudly hosted in, as you guessed, 
      a(href="https://www.netlify.com/") Netlify 
      | on a Free tier (pls do not smite me.)