extends lab-layout 

block content 
    h2 Lab 02:
    h1 Parallel and distributed processing - II: Constraint satisfaction neural network models
    h2 Observations:
    form(action='/cscpe/01/lab02/procedure')
        button(type='submit') Previous Article: Procedures and Lab Simulation
    br
    ol 
        li
            p The constraint satisfaction model has a set of weak constraints defined between a given number of descriptos which is utilized to build conclusions.
        li 
            p The Hinton diagram presents a pictorial view of the constraints present in the model. The relation between the descriptors trained for different room types is developed using (w_{ij}) given in the tutorial.
        li 
            p While testing the model when some units are clamped, rest of the units experience a change in their states according the constraints between them and the clamped states. This can be verified from the Hinton diagram.
        li 
            p Clamping different units while testing the model results in settling of the model in different equilibrium states. These equilibrium states may correspond to either the same or different room type.
    form(action='/cscpe/01/lab02/assignment')
        button(type='submit') Next Article: Assignment