extends lab-layout 

block content
    h2 Lab 02:
    h1 Parallel and distributed processing - II: Constraint satisfaction neural network models
    h2 Procedures:
    form(action='/cscpe/01/lab02/theory')
        button(type='submit') Previous Article: Theory
    br
    ol 
        li
            p Click on the "click" button below "click here to see Hinton Diagrams".
        li 
            p Click on "Click here to see the original hinton diagram with preset weights" to load the hinton diagram for the already trained network with current weights.
        li 
            p Hover your mouse over any of the rectangles for units to see it's hinton diagram in zoomed up version towards the bottom of the canvas.
        li 
            p Click on the "back" button to go back to the menu for more choices.
        li 
            p Click on the "Click here to further train the model".
        li
            p Click on any room choice to select descriptors for that room.
        li 
            p Click on any descriptors you wish to attribute to the room choice that you made.
        li 
            p After making atleast one selection of descriptor for each room type, click on "train model and show Hinton Diagram".
        li 
            p Hover your mouse over any of the rectangles for units to see it's new hinton diagram in zoomed up version towards the bottom of the canvas.
        li 
            p Click on the "back" button to go back to the page to select room and descriptors for that room.
        li 
            p Click on "reset" button to reset descriptors and room choices.
        li 
            p Click on the "back" button to go back to the menu for more choices.
        li 
            p Click on the "home" button to go back to the main menu.
        li 
            p Click on the "click here for clamping descriptors"
        li 
            p Click on atleast one descriptor to clamp it.
        li
            p Click on descriptor again to unclamp it.
        li 
            p Click on "test network" to run 16 cycles of the network.
        li 
            p Click on a descriptor to clamp it and simultaneously see the change in the network.
        li 
            p Click on "reset" button to reset the clamping.
        li 
            p lick on "Home" button to go back to the main menu.
        
    form(action='https://cse22-iiith.vlabs.ac.in/exp/parallel-distributed-processing-ii/simulation.html')
        button(type='submit') PROCEED TO SIMULATION
    form(action='/cscpe/01/lab02/observations')
        button(type='submit') Next Article: Observations