//- Had to do this the long way, hopefully I find a faster way to write a table down :skull:
block table01
    head 
        style.
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
                padding: 10px;
            }
            th, td {
                padding: 4px;
                text-align: left;
            }
    table(width:100)
        tr 
            td Ceiling 
            td Walls
            td Doors 
            td Windows 
            td Very-large
        tr 
            td Large
            td Medium 
            td Small
            td Very-small
            td Desk 
        tr 
            td Telephone
            td bed
            td typewriter
            td Book shelf
            td Carpet 
        tr 
            td Books 
            td Desk-chair
            td Clock
            td Picture
            td Floor-lamp 
        tr 
            td Sofa
            td Easy-chair
            td Coffee-cup
            td Ashtray
            td Fireplace  
        tr 
            td Drapes
            td Stove
            td Coffeepot
            td Refrigerator 
            td Toaster 
        tr 
            td Cup board
            td Sink
            td Dresser
            td Television
            td Bathtub 
        tr 
            td Toilet
            td Scale
            td Wen
            td Computer 
            td Clothes-hanger 