extends ../layout

block content
  h1 Computer Science and Engineering
  p Please make a selection from the topics below.
  br
  ul
    li 
      a Artificial Neural Networks
    li 
      a Computational Linguistics 
    li 
      a Computer Organisation and Architecture 
    li 
      a Computer Organization
    li 
      a Computer Programming 
    li 
      a Creative Design, Prototyping, and Experiential
    li 
      a Cryptography 
    li 
      a Data Structures I 
    li 
      a Data Structures II
    li 
      a Data Structures Lab 
    li 
      a Image Processing 
    li 
      a Natural Language Processing 
    li 
      a Problem Solving 
    li 
      a Python Programming 
    li 
      a Soft Computing Tools in Engineering 
    li 
      a Software Engineering 
    li 
      a Speech Signal Processing


