extends ../layout

block content
  h1 Electrical Engineering
  p Please make a selection from the topics below.
  br
  ul
    li 
      a Programmable Logic Controller aka PLC
    li 
      a Sensors Modeling and Simulation
