extends ../layout

block content
  h1 Electronics and Communications
  p Please make a selection from the topics below.
  br
  ul
    li 
      a Analog and Digital Electronics Lab - I
    li 
      a Analog and Digital Electronics Lab - II
    li 
      a Analog Electronics Circuits VLab
    li 
      a Basic Electronics
    li 
      a Digital Applications 
    li 
      a Digital Electronic Circuits
    li 
      a Digital Electronics Lab I
    li 
      a Digital Electronics Lab II
    li 
      a Digital Logic Design Lab - Logic Gates and Mux-Demux
    li 
      a Digital Signal Processing VLab
    li 
      a Hybrid Electronics
  br


