extends lab-layout

block content 
    h2 Lab 01:
    h1 Parallel and distributed processing - I: Interactive activation and competition models
    h2 Assignment:
    form(action='observations')
        button(type='submit') Previous Article: Observations
    br
    p Using the experiment identify the following properties of human memory to store and retrieve knowledge:
    ol 
        li
            p External activation to one unit in the name pool results in a positive change in activation of units in other pools as well as the instance pool.
        li 
            p External activation to a unit in the name pool leads towards positive activation of other names in the instance pool.
        li 
            p How the activation values changes when two or more names are chosen in the name pool.
        
    form(action='references')
        button(type='submit') Next Article: References